<div class="popup-layout mail-popup col-lg-12" controller="MailController">
	<tabset>
		<tab heading="收件">
			<div class="col-lg-12 user-search-bar"><input id="userSearchBarInput" type="text" name="txt" class="form-control" onchange="userSearchInMailMng(this.value)" placeholder="請輸入住戶編號..." autofocus/></div>
			<div id="userSearchResult" style="display:none">
				<div class="popup-content">
					<input class="control-label" onclick="prestagefinduser()" type="image" src="./img2/pre2.png" alt="Add Mail" width="auto" height="75"/>
					<label class="control-label">住戶：</label>
					<span id="mailtoHouseId" class="control-label" style="display:none;"></span>
					<span id="housefloornumber" class="control-label"></span>
					<label class="control-label"> 共<span id="mailquantity" class="user-amount-mail">0</span>信件</label>
					<input id="addmailweapbtn" onclick="mailListPostInMailMng()" type="image" src="./img2/Email-icon.png" alt="Add Mail" width="auto" height="75" style="float:right">
					<div class="col-lg-12 create-field">
						<div class="col-lg-6 left-mail-field">
							
						</div>
						<div class="col-lg-6 left-mail-table">
							<table class="col-lg-12">
								<thead>
									<tr>
										<th class="col-lg-3">類別</th>
										<th class="col-lg-6">信件編號</th>
										<th class="col-lg-3">取消</th>
									</tr>
								</thead>
								<tbody id="addMailList">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>					
  		</tab>
	    <tab heading="領件">
	    	<div class="col-lg-12 user-search-bar">
	    		<input id="userCollectSearchBar" type="text" name="txt" class="form-control" onchange="userSearchInMailListMng(this.value)" placeholder="請輸入住戶編號..."  autofocus>
	    	</div>
	    	<div id="searchUserMailResult" style="display:none">
	    		<div class="mail-collect-content">
	    			<div class="collection-mail-header">
	    				<input class="control-label" onclick="prestagefinduserCol()" type="image" src="./img2/pre2.png" alt="Add Mail" width="auto" height="75"/>
						<label class="control-label">住戶：</label>
						<label id="userTitle" class="control-label"></label>
						<label class="control-label">共<span id="userAmountMail" class="user-amount-mail">0</span>信件</label>
						<input id="addmailcollectweapBtn" onclick="mailListCollectInMailMng()" type="image" src="./img2/Email-icon.png" alt="Add Mail" width="auto" height="75" style="float:right">
	    			</div>
					<div class="mail-list-search">
						<input id="searchMailCode" type="text" class="form-control" onchange="selectMailCollect(this.value)" placeholder="信件流水編號.."  autofocus/>
						<!-- <button type="button" class="btn btn-primary" onclick="searchMailBtn()">搜尋</button> -->
					</div>
					<div class="col-lg-12 add-collect-field">
						<div class="col-lg-6 left-collect-field">
							<div class="mail-list-table">
								<table class="mail-list table table-hover-block">
									<thead>        
								        <tr>
								            <th style="text-align: center; width: 20%">郵件編號</th>
								            <th style="text-align: center; width: 5%">類別</th>
								            <!-- <th style="text-align: center; width: 15%">寄件者</th>
								            <th style="text-align: center; width: 10%">收件者</th>
								            <th style="text-align: center; width: 10%">備註</th>
								            <th style="text-align: center; width: 10%">complete</th>
								            <th style="text-align: center; width: 10%">return</th> -->
								            <th style="text-align: center; width: 5%">領取</th>
								        </tr>
								    </thead>
								    <tbody class="user-mail-list">
								    </tbody>
								</table>
							</div>
						</div>
						<div class="col-lg-6 left-collect-table">
							<table class="col-lg-12">
								<thead>
									<tr>
										<th>信件編號</th>
									</tr>
								</thead>
								<tbody id="collectMailList">
								</tbody>
							</table>
						</div>
					</div>
						
				</div>
				<div class="mail-receiver-section" style="display: none;"></div>
				<div class="col-lg-12 mail-collect-confirm" style="display: none;"></div>
	    	</div>
  		</tab>
  		<!-- <tab heading="退件">
			<div class="mail-list-search col-lg-12">
				<input id="searchReturnMailCode" type="text" name="txt" class="form-control" onchange="searchReturnMailInput(this.value)" placeholder="請輸入郵件編號..."  autofocus>
			</div>
	    	<div id="searchReturnMailResult" style="display:none">
				<div class="return-mail-user-info">
					<label class="control-label">住戶：</label>
					<label id="returnUserTitle" class="control-label"></label>
				</div>
				<div class="mail-return-list-table">
					<table class="mail-return-list table table-hover-block">
						<thead>        
					        <tr>
					            <th style="text-align: center; width: 20%">郵件編號</th>
					            <th style="text-align: center; width: 5%">類別</th>
					            <th style="text-align: center; width: 15%">寄件者</th>
					            <th style="text-align: center; width: 10%">收件者</th>
					            <th style="text-align: center; width: 10%">備註</th>
					            <th style="text-align: center; width: 5%">退件</th>
					        </tr>
					    </thead>
					    <tbody class="user-mail-return-list">
					    </tbody>
					</table>
				</div>
				<div class="mail-return-section"></div>
	    	</div>
  		</tab> -->
  		<tab heading="查件">
  			<div id="mailRecordList" class="col-lg-12">
  				<div class="col-lg-2">
  					<select class="form-control" ng-model="mailCollectType">
						<option value="all">--</option>
						<option value="collected">已領件</option>
						<option value="receive">未領件</option>
						<option value="return">退件</option>
		    		</select>
  				</div>
  				<div class="col-lg-10">
  					<input type="text" placeholder="請輸入關鍵字......" ng-model="mailSearch" class="form-control" autofocus />
  				</div>
  				<div class="mail-record-list-wrap col-lg-12">
					<table class="mail-record-list table table-hover-block">
						<thead>        
					        <tr>
					            <th style="text-align: center; width: 5%">類別</th>
					            <th style="text-align: center; width: 10%">郵件編號</th>
					            <th style="text-align: center; width: 15%">收件時間</th>
					            <!-- <th style="text-align: center; width: 15%">交件者</th>
					            <th style="text-align: center; width: 15%">收件者</th>
					            <th style="text-align: center; width: 15%">領件者</th> -->
					            <th style="text-align: center; width: 15%">領件時間</th>
					            <th style="text-align: center; width: 5%">已領件</th>
					            <th style="text-align: center; width: 5%">已退件</th>
					            <!-- <th style="text-align: center; width: 15%">標題</th> -->
					            <th style="text-align: center; width: 15%">領件/退件簽名</th>
					            <th style="text-align: center; width: 10%">退件</th>
					        </tr>
					    </thead>
					    <tbody ng-show="mailCollectType=='all'">
					    	<tr class="mailListItem" ng-repeat="item in mails | orderBy:'dateReceived':true | filter:mailSearch" >
					    		<td class="sender-type-{{item.deliveryMethod}}" style="text-align: center; width: 5%"></td>
					    		<td style="text-align: center;">{{item.mailNumber}}</td>
					    		<td style="text-align: center;"><span>{{item.dateReceive | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceive | date:'HH:mm'}}</span></td>
					    		<!-- <td style="text-align: center;">{{item.from}}</td>
					    		<td style="text-align: center;">{{item.to}}</td>
					    		<td style="text-align: center;">{{item.receiver}}</td> -->
					    		<td style="text-align: center;"><span>{{item.dateReceived | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceived | date:'HH:mm'}}</span></td>
					    		<td class="mail-complete-{{item.complete}}" style="text-align: center;">{{item.complete}}</td>
					    		<td class="mail-return-{{item.returnMail}}" style="text-align: center;">{{item.returnMail}}</td>
					    		<!-- <td style="text-align: center;">{{item.title}}</td> -->
							    <td style="text-align: center; width: 15%;"><img style="width: auto; height: 50px;" src="{{item.imageReceiverDetail.url}}" /></td>
							    <td style="text-align: center; width: 15%;">
							    	<div class="mail-return-btn-{{item.returnMail}} mail-complete-btn-{{item.complete}}">
							    		<button class="btn btn-danger false" ng-click="returnMailBtn(item.id)">退件</button>
							    		<button class="btn btn-primary true" ng-click="cancelReturnMailBtn(item.id)">取消退件</button>
							    	</div>
							    </td>
					    	</tr>
					    </tbody>
					    <tbody ng-show="mailCollectType=='collected'">
					    	<tr class="mailListItem" ng-repeat="item in mails | orderBy:'dateReceived':true | filter:{complete: true} | filter:mailSearch" >
					    		<td class="sender-type-{{item.deliveryMethod}}" style="text-align: center; width: 5%"></td>
					    		<td style="text-align: center;">{{item.mailNumber}}</td>
					    		<td style="text-align: center;"><span>{{item.dateReceive | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceive | date:'HH:mm'}}</span></td>
					    		<!-- <td style="text-align: center;">{{item.from}}</td>
					    		<td style="text-align: center;">{{item.to}}</td>
					    		<td style="text-align: center;">{{item.receiver}}</td> -->
					    		<td style="text-align: center;"><span>{{item.dateReceived | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceived | date:'HH:mm'}}</span></td>
					    		<td class="mail-complete-{{item.complete}}" style="text-align: center;">{{item.complete}}</td>
					    		<td class="mail-return-{{item.returnMail}}" style="text-align: center;">{{item.returnMail}}</td>
					    		<!-- <td style="text-align: center;">{{item.title}}</td> -->
							    <td style="text-align: center; width: 15%;"><img style="width: auto; height: 50px;" src="{{item.imageReceiverDetail.url}}" /></td>
							    <td style="text-align: center; width: 15%;">
							    	<div class="mail-return-btn-{{item.returnMail}} mail-complete-btn-{{item.complete}}">
							    		<button class="btn btn-danger false" ng-click="returnMailBtn(item.id)">退件</button>
							    		<button class="btn btn-primary true" ng-click="cancelReturnMailBtn(item.id)">取消退件</button>
							    	</div>
							    </td>
					    	</tr>
					    </tbody>
					    <tbody ng-show="mailCollectType=='receive'">
					    	<tr class="mailListItem" ng-repeat="item in mails | orderBy:'dateReceived':true | filter:{complete: false} | filter:{returnMail: false} | filter:mailSearch" >
					    		<td class="sender-type-{{item.deliveryMethod}}" style="text-align: center; width: 5%"></td>
					    		<td style="text-align: center;">{{item.mailNumber}}</td>
					    		<td style="text-align: center;"><span>{{item.dateReceive | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceive | date:'HH:mm'}}</span></td>
					    		<!-- <td style="text-align: center;">{{item.from}}</td>
					    		<td style="text-align: center;">{{item.to}}</td>
					    		<td style="text-align: center;">{{item.receiver}}</td> -->
					    		<td style="text-align: center;"><span>{{item.dateReceived | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceived | date:'HH:mm'}}</span></td>
					    		<td class="mail-complete-{{item.complete}}" style="text-align: center;">{{item.complete}}</td>
					    		<td class="mail-return-{{item.returnMail}}" style="text-align: center;">{{item.returnMail}}</td>
					    		<!-- <td style="text-align: center;">{{item.title}}</td> -->
							    <td style="text-align: center; width: 15%;"><img style="width: auto; height: 50px;" src="{{item.imageReceiverDetail.url}}" /></td>
							    <td style="text-align: center; width: 15%;">
							    	<div class="mail-return-btn-{{item.returnMail}} mail-complete-btn-{{item.complete}}">
							    		<button class="btn btn-danger false" ng-click="returnMailBtn(item.id)">退件</button>
							    		<button class="btn btn-primary true" ng-click="cancelReturnMailBtn(item.id)">取消退件</button>
							    	</div>
							    </td>
					    	</tr>
					    </tbody>
					    <tbody ng-show="mailCollectType=='return'">
					    	<tr class="mailListItem" ng-repeat="item in mails | orderBy:'dateReceived':true | filter:{returnMail: true} | filter:mailSearch" >
					    		<td class="sender-type-{{item.deliveryMethod}}" style="text-align: center; width: 5%"></td>
					    		<td style="text-align: center;">{{item.mailNumber}}</td>
					    		<td style="text-align: center;"><span>{{item.dateReceive | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceive | date:'HH:mm'}}</span></td>
					    		<!-- <td style="text-align: center;">{{item.from}}</td>
					    		<td style="text-align: center;">{{item.to}}</td>
					    		<td style="text-align: center;">{{item.receiver}}</td> -->
					    		<td style="text-align: center;"><span>{{item.dateReceived | date:'yyyy-MM-dd'}}</span><br/><span>{{item.dateReceived | date:'HH:mm'}}</span></td>
					    		<td class="mail-complete-{{item.complete}}" style="text-align: center;">{{item.complete}}</td>
					    		<td class="mail-return-{{item.returnMail}}" style="text-align: center;">{{item.returnMail}}</td>
					    		<!-- <td style="text-align: center;">{{item.title}}</td> -->
							    <td style="text-align: center; width: 15%;"><img style="width: auto; height: 50px;" src="{{item.imageReceiverDetail.url}}" /></td>
							    <td style="text-align: center; width: 15%;">
							    	<div class="mail-return-btn-{{item.returnMail}} mail-complete-btn-{{item.complete}}">
							    		<button class="btn btn-danger false" ng-click="returnMailBtn(item.id)">退件</button>
							    		<button class="btn btn-primary true" ng-click="cancelReturnMailBtn(item.id)">取消退件</button>
							    	</div>
							    </td>
					    	</tr>
					    </tbody>
					</table>
  				</div>
			</div>
  		</tab>
  	</tabset>	
</div>